<IfModule mod_rewrite.c>
  RewriteEngine On
  # Redirect HTTP to HTTPS (Optional but recommended)
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Don't rewrite requests for real files or directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Rewrite all other requests to index.html to handle client-side routing
  RewriteRule ^ index.html [L]
</IfModule>